*
  margin 0
  padding 0
  box-sizing border-box

body
  height 100vh
  overflow hidden
  background #eee
  font-family 'Josefin Sans', sans-serif

h1 
  margin-top 1rem
  font-size 3.5rem
  text-align center

.container
  width 90vw
  display flex
  margin 0 auto

.panel
  background-size cover
  background-position center
  background-repeat no-repeat
  height 85vh
  border-radius 2rem
  cursor pointer
  flex 1
  margin 1rem
  position relative
  transition flex 0.7s ease


.icon
  left 1rem
  bottom 0rem
  position absolute
  & p
    color #111
    font-size 1.5rem
    background #aaa
    // opacity 0.3

.panel.active
    flex 5

.panel.active h3
    opacity 1
    transition opacity 0.3s ease-in 0.4s


.p1
  background-image url('../imgs/yoga-class.jpg')

.p2
  background-image url('../imgs/yoga2.jpg')

.p3
  background-image url('../imgs/meditate.jpg')

.p4
  background-image url('../imgs/lotus.jpg')


.content
  background #333
  color #eee
  opacity 0.8
  padding 1rem
  margin 1rem
  border-radius 2rem
  & h2
    font-size 2.5rem
    margin-bottom 1rem
  & p
    font-size 1.5rem
    margin-bottom 1rem








@media(max-width: 480px) 
  .container
    width 100vw
  
  .panel:nth-of-type(4)
    display none