$topText = black
$contentBack = #333333dd
$contentBack = #795778cc
$contentFore = #eee
$contentFore = #111

$dru-blue = #6cadc9
$dru-blue-back = #795778 
$dru-orange = #d69c19
$dru-orange-back = #a62923

$background = #6cadc952

/// panel images

.panel1
  background-image url('imgs/yoga-class.jpg')

.panel2
  background-image url('imgs/yoga2.jpg')

.panel3
  background-image url('imgs/meditate.jpg')

.panel4
  background-image url('imgs/lotus.jpg')

//end panel images

/// layout
*
  margin 0
  padding 0
  box-sizing border-box
  scrollbar-width thin
  scrollbar-color $dru-blue $dru-blue-back
  

*::-webkit-scrollbar
  width 12px

*::-webkit-scrollbar-track
  background $dru-orange

*::-webkit-scrollbar-thumb
  background $dru-blue
  border-radius 20px
  border 3px solid blue


body
  padding 0.5rem
  background $background
  font-family 'Josefin Sans', sans-serif

header
  display flex
  justify-content center
  & img
    width 115px
    height 115px
    margin 0 1rem
    border-radius 1rem

main
  display flex
  margin 0 auto

.panel
  flex 1
  height 82vh // change in meeja?
  margin 0.5rem
  cursor pointer
  overflow-y auto
  overflow-x hidden
  position relative
  border-radius 2rem
  background-size cover
  transition flex 0.7s ease
  background-position center
  background-repeat no-repeat
  &.active
    flex 5
    cursor default

.content
  display flex
  padding 1rem
  color $contentFore
  margin 1.5rem 1rem
  border-radius 2rem
  align-items center
  flex-direction column
  background $contentBack

.blurb
  display none
  &.active
    display inline


//end layout

/// typography

h1, h2
  font-family 'Cardo', serif
  
h1 
  font-size 3.5rem

h2
  font-size 2rem

.content h2
  // color blue
  // text-align center
  // margin 0 1rem
  // padding 1rem

.active h2
  text-align left !important

.title
  color $dru-orange-back
  & h2
    font-size 2.5rem
    margin-top .5rem
    margin-bottom -1rem
    color $dru-blue-back

p
  font-size 1.7rem
  margin-bottom 1rem
  
p.inst
  display none
  &.shown
    display block
    font-size 1rem
    margin-top 1rem
    margin-bottom 0
    text-align center

p:first-child
  margin-top 0.5rem

//end typography

/// testimonial

blockquote
  width 80%
  position relative
  border-radius 1rem
  padding 0.25rem 1rem
  margin 0 auto 1.5rem auto
  background alpha($dru-orange, 0.6)

span.quote
  left 1rem
  top -0.5rem
  font-size 7rem
  position absolute
  font-family sans-serif

.testimonial
  font-size 1.5rem
  font-style italic
  margin-top 3.5rem
  
.punter
  text-align right
  font-size 1.25rem
  margin-top -1.5rem
  padding-right 1rem

//end testimonial

/// form

.form-container
  background alpha($dru-orange-back, 0.6)
  // background alpha($dru-orange, 0.6)
  padding 1rem
  border-radius 2rem
  
.form-control
  position relative
  margin 2rem auto
  // width 600px

.form-control input, textarea
  width 90%
  // margin 0 auto
  background transparent
  background $contentBack
  border 0
  border-bottom 2px $contentFore solid
  display block
  padding 1rem 0
  font-size 1.5rem
  border-radius 1rem 1rem 0 0
  // margin 0 auto

.form-control input:focus,
.form-control input:valid,
.form-control textarea:focus,
.form-control textarea:valid
  outline 0
  border-bottom-color red

.form-control label
  position absolute
  top 0.5rem
  left 0.5rem

.form-control label span
  display inline-block
  font-size 1.25rem
  min-width 5px

.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control textarea:focus + label span,
.form-control textarea:valid + label span
  color lightblue
  transform translateY(-2rem)
  transition 0.3s ease-in
  transition 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.btn
  cursor pointer
  display inline-block
  width 90%
  background $dru-blue
  padding 1rem
  font-family inherit
  font-size 1.5rem
  border 0
  border-radius 1rem
  &:hover
    background $dru-blue-back
  &:active
    transform scale(0.98)

//end form

/// tooltips

#tooltip
  opacity 0
  left -100000px  // get rid of it - not needed if embedded!
  padding 0.5rem
  position absolute
  text-align center
  transition opacity 0.5s
  background $dru-blue-back
  &.shown
    opacity 1
    z-index 1
    border-radius 0.5rem

//end tooltip

/// meeja qs

@media(max-width: 1650px)
  .content h2
    font-size 1.75rem
      // only the top ones need to change for inactives!!
      // how deep does the rabbit hole go?

@media(max-width: 480px) 
  .container
    width 100vw
  
  .panel:nth-of-type(4)
    display none

//end meeja