$background = #eee
$topText = black
$contentBack = #333333dd
$contentFore = #eee

// ///todo get these
// $dru-blue = 
// $dru-blue-back = 
// $dru-orange =
// $dru-orange-back =
// $dru-orange-new = invert($dru-blah)

/// layout
*
  margin 0
  padding 0
  box-sizing border-box

body
  height 100vh
  overflow hidden
  background $background
  font-family 'Josefin Sans', sans-serif

header
  width 80vw
  display flex
  text-align center
  margin 0.25rem auto
  justify-content space-between
  & img
    width 115px
    height 115px
    border-radius 1rem

main
  width 98vw
  display flex
  margin 0 auto

.panel
  flex 1
  height 80vh
  margin 1rem
  cursor pointer
  overflow-y auto
  overflow-x hidden
  border-radius 2rem
  background-size cover
  transition flex 0.7s ease
  background-position center
  background-repeat no-repeat

.panel.active
    flex 5

.content
  padding 1rem
  margin 1rem 0.5rem
  border-radius 2rem
  color $contentFore
  background $contentBack

.blurb
  display none

.blurb.active
    display inline



//end layout

/// typography

h1, h2
  font-family 'Cardo', serif
  font-family 'Yeseva One', serif
  font-family 'Playfair Display', serif

h1 
  color $topText
  font-size 3.5rem
  margin-top 1.5rem
  text-align center

h2
  font-size 1.5rem
  // margin-bottom 1rem

p
  font-size 1.5rem
  margin-bottom 1rem

p:first-child
  margin-top 1rem

//end typography

/// panel images

.panel1
  background-image url('../imgs/yoga-class.jpg')

.panel2
  background-image url('../imgs/yoga2.jpg')

.panel3
  background-image url('../imgs/meditate.jpg')

.panel4
  background-image url('../imgs/lotus.jpg')

//end panel images

/// meeja qs

@media(max-width: 480px) 
  .container
    width 100vw
  
  .panel:nth-of-type(4)
    display none

//end meeja