doctype html
html(lang='en')
head
  /// head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
  //- link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap' rel='stylesheet')

  link(href='https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans&family=Yeseva+One&family=Playfair+Display:wght@500&display=swap' rel='stylesheet') 

  link(rel='stylesheet', href='main.css')
  title Imogen Groves, Dru Yoga and Meditation
  //end head

body
  /// header
  header
    .logoo  
      img(src='imgs/yoga-logo.jpg')
    .logoo
      img(src='imgs/meditation-logo.jpg')
    //- might need to split into two for narrow sreens
    .title
      h2 Imogen Groves 
      h1 Dru Yoga and Meditation
  //end header

  main
    /// what is?
    .panel.active.panel1
      .content
        h2 What is Dru Yoga?
        p.inst (click to expand)
        .blurb.active
          p Dru yoga is a graceful and potent form of yoga, based on flowing movements, directed breathing and visualisation.
          p With its foundation set firmly in ancient yogic tradition, Dru works on body, mind and spirit - improving strength and flexibility, creating core stability, building a heightened feeling of positivity and is deeply relaxing whilst rejuvenating your whole being.
          p Designed to be practised by people of all abilities, all fitness levels and all age groups, Dru is a style of yoga that can be quickly dipped into or learnt in more depth over a lifetime.
          
          blockquote
            span.quote &ldquo;
            p.testimonial.
              Classes are enjoyable and gently challenging. I always come away with a strong sense of achievement and renewed calm.
            p.punter S.H  

          h2 About Me
          p blah blah...trumpet blowing... blah...
          blockquote
            p.testimonial
              span "Dru is a very gentle way of connecting to your body stretching and balancing. Classes are fun and engaging."
            p.punter C.F

    //end what is  

    /// yoga classes
    .panel.panel2
      .content
        h2 Yoga Classes
        .tooltiptext click to expand
        p.inst.shown (click to expand)
        .blurb
          p We are all rivers flowing into the same lake.
          p ## details of different classes
          p ## dates, times, locations, costs etc
          blockquote
            p.testimonial
              span After attending many yoga classes over nearly 40 years, these are the best classes I have ever been to. Apart from the improved flexibility and the increased vitality and clarity of mind that the classes give, there is a sense of pure joy in taking part.
            p.punter G.M
    
    //end yoga

    /// meditate
    .panel.panel3#tooltip
      .content
        span#tooltip-span clicky
        h2 Meditation
        p.inst.shown (click to expand)
        .blurb
          p Sit, and know that you are sitting.
          p Breathe, and know that you are breathing.
          blockquote
            p.testimonial
              span It's been great online too. Imogen is such a lovely, patient, fun and professional teacher. Highly recommended.
            p.punter N.C.
          p ## details

    //end meditate

    /// contact
    .panel.panel4
      .content
        h2 Contact
        p.inst.shown (click to expand)
        .blurb
          p You can send me a message by using the form below.
          p I'll reply as soon as I can.
          .form-container
            form
              .form-control
                input(type='text' required)
                label your email address
              .form-control
                textarea(rows=6 cols=50 name='message' required)
                label please enter your message
              button.btn Send

    //end contact


  script(src='scripts.js')
      