doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet")

  <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans&family=Yeseva+One&family=Playfair+Display:wght@500&display=swap" rel="stylesheet"> 

  link(rel="stylesheet", href="css/main.css")
  title Imogen Groves, Dru Yoga and Meditation
body
  header
    .dru-logo
      img.logo(src='imgs/logos/meditation.jpg')
    .head
      h1 Imogen Groves ~~ Dru Yoga and Meditation
    .dru-logo
      img.logo(src='imgs/logos/yoga.jpg')


  .container
    .panel.active.p1
      .content
        h2 What is Dru Yoga?
        p Dru yoga is a graceful and potent form of yoga, based on flowing movements, directed breathing and visualisation.
        p With its foundation set firmly in ancient yogic tradition, Dru works on body, mind and spirit - improving strength and flexibility, creating core stability, building a heightened feeling of positivity and is deeply relaxing whilst rejuvenating your whole being.
        p Designed to be practised by people of all abilities, all fitness levels and all age groups, Dru is a style of yoga that can be quickly dipped into or learnt in more depth over a lifetime.
        p Dru yoga is a graceful and potent form of yoga, based on flowing movements, directed breathing and visualisation.
        p With its foundation set firmly in ancient yogic tradition, Dru works on body, mind and spirit - improving strength and flexibility, creating core stability, building a heightened feeling of positivity and is deeply relaxing whilst rejuvenating your whole being.
        p Designed to be practised by people of all abilities, all fitness levels and all age groups, Dru is a style of yoga that can be quickly dipped into or learnt in more depth over a lifetime.
        p Dru yoga is a graceful and potent form of yoga, based on flowing movements, directed breathing and visualisation.
        p With its foundation set firmly in ancient yogic tradition, Dru works on body, mind and spirit - improving strength and flexibility, creating core stability, building a heightened feeling of positivity and is deeply relaxing whilst rejuvenating your whole being.
        p Designed to be practised by people of all abilities, all fitness levels and all age groups, Dru is a style of yoga that can be quickly dipped into or learnt in more depth over a lifetime.
    
    .panel.p2
      .content
        h2 Yoga Classes
        p details of different classes
    
    .panel.p3
      .content
        h2 Meditation

    .panel.p4
      .content
        h2 Contact


  script(src='js/scripts.prod.js')
  
    