doctype html
html(lang='en')
head
  /// head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
  //- link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap' rel='stylesheet')

  link(href='https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans&family=Yeseva+One&family=Playfair+Display:wght@500&display=swap' rel='stylesheet') 

  link(rel='stylesheet', href='main.css')
  title Imogen Groves, Dru Yoga and Meditation
  //end head

body
  /// header
  header
    .logo  
      img(src='imgs/yoga-logo.jpg')
    .logo
      img(src='imgs/meditation-logo.jpg')
    .headtitle
      h2 Imogen Groves 
      h1 Dru Yoga and Meditation

  //end header

  .success
    h1 Message sent successfully.
    
    h2 I will reply as soon as I can.

    a(href='index.html') back to site