.panel1 {
  background-image: url("imgs/yoga-class.jpg");
}
.panel2 {
  background-image: url("imgs/yoga2.jpg");
}
.panel3 {
  background-image: url("imgs/meditate.jpg");
}
.panel4 {
  background-image: url("imgs/lotus.jpg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #6cadc9 #795778;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #d69c19;
}
*::-webkit-scrollbar-thumb {
  background: #6cadc9;
  border-radius: 20px;
  border: 3px solid #00f;
}
body {
  padding: 0.5rem;
  background: rgba(108,173,201,0.322);
  font-family: 'Josefin Sans', sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
header img {
  width: 115px;
  height: 115px;
  margin: 0 1rem;
  border-radius: 1rem;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  display: flex;
  margin: 0 auto;
}
.panel {
  flex: 1;
  height: 82vh;
  margin: 0.5rem;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  border-radius: 2rem;
  background-size: cover;
  transition: flex 0.7s ease;
  background-position: center;
  background-repeat: no-repeat;
}
.panel.active {
  flex: 5;
  cursor: default;
}
.content {
  padding: 0.5rem 1rem;
  color: #111;
  margin: 1rem 1rem;
  border-radius: 2rem;
  background: rgba(121,87,120,0.8);
}
.blurb {
  display: none;
}
.blurb.active {
  display: inline;
}
h1,
h2 {
  font-family: 'Cardo', serif;
}
h1 {
  font-size: 3.5rem;
  font-size: clamp(2rem, 10vw, 3.5rem);
}
h2 {
  font-size: 2rem;
}
.panel h2:first-child {
  color: #111;
  text-align: center;
  background: #6cadc9;
}
.title {
  color: #a62923;
}
.title h2 {
  font-size: 2.5rem;
  color: #795778;
}
p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
div.motto {
  display: none;
}
div.motto.shown {
  display: block;
}
div.motto p {
  font-size: 1.25rem;
  text-align: center;
  margin: 0 0 0 -0.5rem;
}
blockquote {
  width: 80%;
  position: relative;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  margin: 0 auto 1.5rem auto;
  background: rgba(214,156,25,0.6);
}
span.quote {
  left: 1rem;
  top: -0.5rem;
  font-size: 7rem;
  position: absolute;
  font-family: sans-serif;
}
.testimonial {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 3.5rem;
}
.punter {
  text-align: right;
  font-size: 1.25rem;
  margin-top: -1.5rem;
  padding-right: 1rem;
}
.form-container {
  background: rgba(166,41,35,0.6);
  padding: 1rem;
  border-radius: 2rem;
}
.form-control {
  position: relative;
  margin: 2rem auto;
}
.form-control input,
textarea {
  width: 90%;
  background: transparent;
  background: rgba(121,87,120,0.8);
  border: 0;
  border-bottom: 2px #111 solid;
  display: block;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0 0;
}
.form-control input:focus,
.form-control input:valid,
.form-control textarea:focus,
.form-control textarea:valid {
  outline: 0;
  border-bottom-color: #f00;
}
.form-control label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.form-control label span {
  display: inline-block;
  font-size: 1.25rem;
  min-width: 5px;
}
.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control textarea:focus + label span,
.form-control textarea:valid + label span {
  color: #add8e6;
  transform: translateY(-2rem);
  transition: 0.3s ease-in;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 90%;
  background: #6cadc9;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1rem;
}
.btn:hover {
  background: #795778;
}
.btn:active {
  transform: scale(0.98);
}
#tooltip {
  opacity: 0;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s;
  background: #795778;
}
#tooltip.shown {
  opacity: 1;
  z-index: 1;
  border-radius: 0.5rem;
}
#tooltip.hide {
  position: absolute;
  left: -100000px;
  display: none;
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4) {
    display: none;
  }
}
