.panel:nth-child(1) {
  background-image: url("imgs/yoga-class.jpg");
}
.panel:nth-child(2) {
  background-image: url("imgs/yoga2.jpg");
}
.panel:nth-child(3) {
  background-image: url("imgs/meditate.jpg");
}
.panel:nth-child(4) {
  background-image: url("imgs/lotus.jpg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #6cadc9 #795778;
}
*::-webkit-scrollbar {
  width: 12px;
  border-radius: 80px;
}
*::-webkit-scrollbar-track {
  background: #d69c19;
  border-radius: 80px;
}
*::-webkit-scrollbar-thumb {
  background: #6cadc9;
  border-radius: 80px;
}
body {
  color: #000;
  padding: 0.5rem;
  position: relative;
  overflow-y: hidden;
  background: rgba(108,173,201,0.34);
  font-family: 'Josefin Sans', sans-serif;
}
header {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-end;
  justify-content: center;
}
header img {
  width: 110px;
  height: 110px;
  margin-right: 1rem;
  border-radius: 1rem;
}
.headtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  display: flex;
  margin: 0 auto;
}
.panel {
  flex: 1;
  height: 82vh;
  margin: 0.5rem;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  border-radius: 2rem;
  background-size: cover;
  transition: flex 0.7s ease;
  background-position: center;
  background-repeat: no-repeat;
}
.panel.shown {
  flex: 5;
  cursor: default;
}
.title {
  top: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  min-height: 5rem;
  align-items: center;
  background: #6cadc9;
  justify-content: center;
}
.content {
  margin: 1rem 1rem;
  border-radius: 2rem;
  padding: 1.5rem 1rem;
  background: rgba(108,173,201,0.68);
}
.motto {
  display: none;
  text-align: center;
}
.motto.shown {
  display: block;
  margin: -1rem 0 -2rem 0;
}
.blurb {
  display: none;
}
.blurb.shown {
  display: inline;
}
.flexer {
  display: flex;
  margin-bottom: 2rem;
}
.flexer img {
  width: 200px;
  margin-right: 2rem;
  border-radius: 2rem;
}
aside {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  text-align: right;
}
h1,
h2,
h3 {
  font-family: 'Cardo', serif;
}
h1 {
  font-size: 3.5rem;
  margin-bottom: -0.9rem;
  color: #a62923;
}
h1.imogen {
  color: #795778;
  margin-bottom: -0.3rem;
}
h2,
h3 {
  font-size: 2rem;
}
h2 {
  margin: 0 0.5rem;
  text-align: center;
  line-height: 99.5%;
}
h3 {
  margin-bottom: 0.5rem;
  border-top: 2px solid #6cadc9;
}
p {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.motto p {
  font-size: 1.25rem;
}
a {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 1rem;
  display: inline-block;
  background: #6cadc9;
  text-decoration: none;
  color: #000;
}
a:hover {
  transform: scale(1.02);
  background: #d69c19;
}
a:active {
  transform: scale(0.98);
}
blockquote {
  width: 90%;
  position: relative;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  margin: 0 auto 1.5rem auto;
  background: rgba(214,156,25,0.6);
}
span.quote {
  left: 1rem;
  top: -0.5rem;
  font-size: 7rem;
  position: absolute;
  font-family: sans-serif;
}
.testimonial {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-style: italic;
}
.punter {
  text-align: right;
  font-size: 1.25rem;
}
form {
  position: relative;
}
input,
textarea {
  border: 0;
  outline: 0;
  width: 100%;
  opacity: 0.5;
  padding: 1rem;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  background: rgba(108,173,201,0.68);
  border-radius: 1rem 1rem 0 0;
  border-bottom: 2px #795778 solid;
}
input:focus,
textarea:focus {
  border-bottom-color: #f00;
  opacity: 1;
}
input:valid,
textarea:valid {
  border-bottom-color: #00f;
}
input:valid + label span {
  color: #00f;
}
label {
  top: 1rem;
  right: 2rem;
  position: absolute;
  font-size: 1.75rem;
}
label.msg {
  margin-top: 6rem;
}
label span {
  min-width: 5px;
  display: inline-block;
  color: #fff;
}
input:focus + label span,
textarea:focus + label span,
textarea:valid + label span {
  color: $white;
  transform: translateY(-3.25rem);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn {
  border: 0;
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 1rem;
  background: #6cadc9;
}
.btn:hover {
  transform: scale(1.02);
  background: #d69c19;
}
.btn:active {
  transform: scale(0.98);
}
.success {
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 1500px) {
  .meeja span.big {
    display: inline-block;
  }
}
@media (max-width: 1500px) {
  .content {
    margin: 0.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .motto.shown p {
    margin: -1rem -0.5rem 1rem -0.5rem;
  }
  .meeja span.b15 {
    display: inline-block;
  }
}
@media (max-width: 1240px) {
  .title {
    min-height: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1100px) {
  h2 {
    font-size: 1.35rem;
  }
}
@media (max-width: 980px) {
  body {
    padding: 0;
    overflow-y: auto;
  }
  main {
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: -0.75rem;
  }
  h1.imogen {
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  .panel {
    cursor: default;
    padding-bottom: 2rem;
  }
  .title {
    min-height: 4rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .blurb {
    display: inline-block;
  }
  .motto {
    display: block;
  }
  .motto.shown {
    font-size: 1.25rem;
    padding: 1rem 0 2rem 0;
  }
  .c2e {
    display: none;
  }
}
@media (max-width: 880px) {
  main {
    padding: 0;
  }
  h1 {
    font-size: 2.75rem;
    margin-bottom: -0.5rem;
  }
  h1.imogen {
    margin-bottom: 0rem;
  }
  header img {
    width: 100px;
    height: 100px;
    margin: 0 0.5rem;
  }
  .panel {
    margin: 0;
  }
}
@media (max-width: 806px) {
  h1 {
    font-size: 2.5rem;
  }
  header img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 686px) {
  h1 {
    font-size: 2rem;
  }
  header img {
    width: 70px;
    height: 70px;
    margin: 0 0.25rem;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 460px) {
  h1 {
    font-size: 1.25rem;
  }
  header img {
    width: 60px;
    height: 60px;
    margin: 0 0.15rem;
  }
}
@media (max-width: 386px) {
  h1 {
    font-size: 1.2rem;
  }
  header img {
    width: 50px;
    height: 50px;
    margin: 0 0.05rem;
  }
}
@media (max-width: 359px) {
  h1 {
    font-size: 1rem;
  }
}
