* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #6cadc9 #795778;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #d69c19;
}
*::-webkit-scrollbar-thumb {
  background: #6cadc9;
  border-radius: 20px;
  border: 3px solid #00f;
}
body {
  background: rgba(108,173,201,0.322);
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5rem;
}
header {
  display: flex;
  justify-content: center;
}
header img {
  width: 115px;
  height: 115px;
  margin: 0 1rem;
  border-radius: 1rem;
}
main {
  display: flex;
  margin: 0 auto;
}
.panel {
  flex: 1;
  height: 82vh;
  margin: 0.5rem;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 2rem;
  background-size: cover;
  transition: flex 0.7s ease;
  background-position: center;
  background-repeat: no-repeat;
}
.panel.active {
  flex: 5;
}
.content {
  padding: 1rem;
  margin: 1.5rem 1rem;
  border-radius: 2rem;
  color: #000;
  background: rgba(121,87,120,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blurb {
  display: none;
}
.blurb.active {
  display: inline;
}
h1,
h2 {
  font-family: 'Cardo', serif;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
.active h2 {
  text-align: left !important;
}
.title {
  color: #a62923;
}
.title h2 {
  color: #795778;
  margin-top: 0.5rem;
  font-size: 2.5rem;
  margin-bottom: -1rem;
}
p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
p.inst {
  display: none;
}
p.inst.shown {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  display: block;
  text-align: center;
}
p:first-child {
  margin-top: 0.5rem;
}
span.quote {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
}
.testimonial-container {
  background: #d69c19;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 80%;
  margin: 1rem auto 1.5rem auto;
}
.testimonial {
  font-size: 1.5rem;
  font-style: italic;
}
.punter {
  text-align: right;
  padding-right: 1rem;
  font-size: 1.25rem;
}
.progress-bar {
  background: #a62923;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}
.panel1 {
  background-image: url("../imgs/yoga-class.jpg");
}
.panel2 {
  background-image: url("../imgs/yoga2.jpg");
}
.panel3 {
  background-image: url("../imgs/meditate.jpg");
}
.panel4 {
  background-image: url("../imgs/lotus.jpg");
}
.form-container {
  background: #a62923;
  padding: 1rem;
  border-radius: 2rem;
}
.form-control {
  position: relative;
  margin: 2rem auto;
  width: 600px;
}
.form-control input,
textarea {
  width: 80%;
  background: transparent;
  background: rgba(121,87,120,0.8);
  border: 0;
  border-bottom: 2px #000 solid;
  display: block;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0 0;
}
.form-control input:focus,
.form-control input:valid,
.form-control textarea:focus,
.form-control textarea:valid {
  outline: 0;
  border-bottom-color: #f00;
}
.form-control label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.form-control label span {
  display: inline-block;
  font-size: 1.25rem;
  min-width: 5px;
}
.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control textarea:focus + label span,
.form-control textarea:valid + label span {
  color: #add8e6;
  transform: translateY(-2rem);
  transition: 0.3s ease-in;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 80%;
  background: #6cadc9;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1rem;
}
.btn:hover {
  background: #795778;
}
.btn:active {
  transform: scale(0.98);
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4) {
    display: none;
  }
}
@-moz-keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
@-webkit-keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
@-o-keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
